.HomePage {
    text-align: center;
    background-color: #e4c7a7;
    height: 100vh;
}

.Header {
    text-align: center;
    background-color: #e4c7a7;
    color: #9f3534;
    height: 10vh;
  }

.MainText {
    text-align: center;
    color: #9f3534;
    padding-top: 10vh;
}